asgiref==3.6.0
beautifulsoup4==4.11.1
crispy-bootstrap5==0.7
Django==4.1.4
django-appconf==1.0.5
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-extra-views==0.14.0
django-select2==8.0.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
